@charset "utf-8";
/* CSS Document */
body,div,h1,p,ul,li{margin:0;padding:0;}
li{list-style:none;}
body a{text-decoration:none;}
#info-wrap{background:url(../img/bg-1.jpg) no-repeat;background-size:cover;height:600px;}
#intro{width:100%;text-align:center;padding:20px 0;}
#menu{width:480px;margin:0 auto;position:relative;}
#menu .ball{position:relative;background:#58483a;transform-origin:top;transition:100ms;width:70px;height:70px;border-radius:50%;font:16px/70px '宋体';font-weight:bold;color:white;text-align:center;background:#58483a;cursor:pointer;}
#menu .on{background:#382e25;transform:scale(1.1);border-radius:50%;}
#menu .b1{left:45px;top:30px;}
#menu .b2{left:205px;top:-66px;}
#menu .b3{left:365px;top:-116px;}
#menu .detail{position:relative;top:-140px;left:20px;width:400px;height:320px;border:2px dashed #382e25;display:none;margin:40px 0;border-radius:20px;padding:20px;font:16px/24px 'Arial';background:white;font-weight:bold;}
#menu .detail p{text-indent:2em;font:18px/20px '宋体';font-weight:bold;}
#menu .detail strong{font-size:20px;}
#menu .show{display:block;}


#w-wrap{background:url(../img/bg-2.jpg) no-repeat;background-size:cover;position:relative;padding:50px 20px;height:700px;overflow:hidden;}
#work{width:600px;height:300px;overflow:hidden;position:relative;margin:0 auto;}
#work .w-head{height:60px;background:#382e25;color:white;font:28px/60px 'Arial';text-align:center;border-bottom:2px solid white;}
#work .w-list{width:380px;height:236px;background:white;position:absolute;border-left:4px solid white;}
#work .w-list p{width:42px;height:240px;font-size:22px;background:#382e25;color:rgba(255,255,255,0.7);text-align:center;}
#work .w-list p:hover{color:rgba(255,255,255,1)}
#work .w-list ul{position:absolute;top:0;left:50px;padding:20px;}
#work .w-list li{list-style-type:circle;}
#work .w-list a{font:22px/30px '宋体';transition:300ms;color:black;}
#work .w-list a:hover{background:#382e25;color:white;font-weight:bold;font-size:24px;}

.intrs{background:url(../img/intrs.png) no-repeat 0 20px;height:300px;margin:50px 0 0;}
.intrs .intrs-text{width:400px;height:280px;background:white;border-radius:50%;margin-left:250px;text-align:center;padding:40px;}
.intrs .intrs-text p{text-indent:2em;font:18px/22px 'Arial';font-weight:bold;}
.intrs .text-r{position:relative;left:520px;;top:-360px;}